/* burası yorum */

p {
    color: yellow;
    color: #0af;
    color: #0cae23;
    color: rgb(0, 12, 55);
    color: rgba(255, 255, 255, 0.9);
    
    background-color: blue;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin:10px;
    margin:10px 10px 10px 10px;
    margin:10px 10px ;

    /* paddding:iç boşluk */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding:10px;
    padding:10px 10px 10px 10px;
    padding:10px 10px ;

    border:10px solid yellow;
    cursor: pointer;
}